.event_page {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: scroll;

  .event_component {
    padding: 0.1rem;
    background-color: rgb(241, 241, 241);
    border-radius: 7px;
    .event_card_title {
      background-color: rgb(171, 200, 250);
      border-radius: 5px;
      padding: 0 0.5rem;
      button {
        padding: 0;
      }
    }
  }
  .photo_container {
    padding: 0.2rem;
    .photo_title {
      position: absolute;
      margin-bottom: -4rem;
      z-index: 2;
      color: rgba(255, 255, 255, 0);
      font-size: 0.8rem;
    }
    :hover {
      color: #ffffff;
      text-decoration: none;
    }
    .fancy_photo_block {
      // margin-top: 0.5rem;
      height: 7.5rem;
      overflow: hidden;
      position: relative;
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.082);
      img {
        position: absolute;
        // z-index: -2;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
    .event_photo {
      display: block;
      width: 100%;
    }
    .button_image_block {
      display: flex;
      justify-content: space-between;
      button {
        position: relative;
        color: rgba(255, 255, 255, 0);
        margin-top: -7.5rem;
        z-index: 2;
      }
      :hover {
        color: #ffffff;
        background-color: rgba(204, 0, 0, 0.897)
        // box-shadow: 0px 0px 2px black, 0 0 5px rgb(0, 0, 0);
      }
    }
  }
  .add_photo_form {
    margin-top: 0.5rem;
    background-color: rgb(175, 175, 175);
    height: 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;


    label {
      display: flex;
      flex-direction: column;
      span {
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}
