.event_card {
  padding: 0 1rem;
  background-image: radial-gradient(
    farthest-corner at 50% 0%,
    rgba(187, 187, 187, 0.863) 0%,
    rgba(255, 255, 255, 0) 100%,
    white
  );
  margin: 2px 0;
  .event_card_title {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(68, 68, 68);
    padding: 1rem;

    button {
      padding: 0;
    }
  }
  & :active {
    background-color: rgba(200, 220, 236, 0.849);
    color: white;
  }
  .photo_container {
    padding: 0.2rem;
    .slick-slider {
      position: relative;
      .arrowNext {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        background:black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .arrowPrev {
        position: absolute;
        top: 50%;
        z-index:2;
        transform: translate(0, -50%);
        background:black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .photo_box {
      margin: 0.2rem;
      background-color: rgb(230, 230, 230);
      // height: 0;
      // padding-bottom: 100%;
      .event_photo {
        display: block;
        width: 100%;
      }
    }
  }
}
